{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <header class="navbar-dash">
        <div class="logo">
            <a href="{% url 'dashboard' %}"><h1>WitnessWords</h1></a>
        </div>

        <div class="profile">
            <p>Support</p>
            <a href="{% url 'upload' %}"><button class="upload" style="background-color: red; margin-right: 20px;">Upload</button></a> 
            <a href="{% url 'logout_client' %}"><button class="logout">Logout</button></a> 
        </div>
    </header>
    <hr>
    <div class="content">
        <div class="col-1">
            <h4>My profile</h4>
            <h4>Billing info</h4>
            <h4>Notifications</h4>
        </div>

        <div class="col-2">
            <h1>My Profile</h1>

            <form action="{% url 'edit_profile' %}" method="post" class="client-form">
                {% csrf_token %}
                {{ form.first_name.label }}
                <p>{{ form.first_name }}</p>
                {{ form.last_name.label }}
                <p>{{ form.last_name }}</p>
                {{ form.email.label }}
                <p>{{ form.email }}</p>
                {{ form.username.label }}
                <p>{{ form.username }}</p>
                <button type="submit">Save</button>
            </form>

        </div>
            
                
    </div>

</body>

</html>